[package]
before_cmds = []
exclude = [
    ".git",
    ".github",
    ".gitignore",
    ".pre-commit-config.yaml",
    "tests",
    "venv",
    "__pycache__",
    "*.pyc",
    ".mypy_cache",
    ".ruff_cache",
    ".pytest_cache",
    "Makefile",
    "pyproject.toml",
]

